body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2rem;
}
br {
  height: 1rem;
}

p,
input {
  font-size: 25px;
}

input {
  width: 200px;
}

#currency
 {
  display: inline;
}


.results {
  padding-top: 1rem;

}


.percentInput {
  width: 3rem;
}