body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2rem;
}

p,
input {
  font-size: 25px;
}

#amount {
  width: 200px;
}

#currency {
  display: inline;
}


.results {
  padding-top: 1rem;

}